config SOC_INSPIRE_1010
    bool
    select SOC_SERIES_INSPIRE_101X

config SOC_SERIES_INSPIRE_101X
    bool
    select SOC_FAMILY_INSPIRE_101X

config SOC_SERIES
    default "inspire_101x" if SOC_SERIES_INSPIRE_101X

config SOC
    default "inspire_1010" if SOC_INSPIRE_1010